#header{
    background-color: black;
    text-align: center;
    padding: 5px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;

}
#any{
    color: black;
    text-shadow: 20ch;
    font-family: 'Times New Roman', Times, serif;
    text-align:center;
    padding: 10px;
    padding-top: 5cm;
    font-size: 185px;
    
}